USE [StudentClubDB]
GO
/****** Object:  Table [dbo].[ApprovalRequests]    Script Date: 12/3/2025 11:30:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApprovalRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ClubID] [int] NOT NULL,
	[RequestType] [nvarchar](50) NULL,
	[Status] [nvarchar](20) NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[ApprovedAt] [datetime] NULL,
 CONSTRAINT [PK__Approval__33A8519AF73DB5BE] PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClubJoinRequests]    Script Date: 12/3/2025 11:30:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClubJoinRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ClubID] [int] NOT NULL,
	[StudentID] [nvarchar](50) NOT NULL,
	[Major] [nvarchar](200) NOT NULL,
	[AcademicYear] [nvarchar](50) NOT NULL,
	[Introduction] [nvarchar](max) NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
	[ContactInfoOptional] [nvarchar](200) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[ApprovedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClubMembers]    Script Date: 12/3/2025 11:30:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClubMembers](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[ClubID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[JoinedDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clubs]    Script Date: 12/3/2025 11:30:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clubs](
	[ClubID] [int] IDENTITY(1,1) NOT NULL,
	[ClubName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[PresidentID] [int] NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClubID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fees]    Script Date: 12/3/2025 11:30:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fees](
	[FeeID] [int] IDENTITY(1,1) NOT NULL,
	[FeeScheduleID] [int] NOT NULL,
	[ClubID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderCode] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[FeeType] [nvarchar](50) NULL,
	[PaymentStatus] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[PaidAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeeSchedule]    Script Date: 12/3/2025 11:30:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeeSchedule](
	[FeeScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[ClubID] [int] NOT NULL,
	[FeeName] [nvarchar](200) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[DueDate] [date] NOT NULL,
	[Frequency] [nvarchar](20) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[IsRequiredFee] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FeeScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 12/3/2025 11:30:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostImages]    Script Date: 12/3/2025 11:30:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostImages](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[PostID] [int] NOT NULL,
	[ImageURL] [nvarchar](max) NOT NULL,
	[Caption] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 12/3/2025 11:30:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ClubID] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Visibility] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/3/2025 11:30:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[StudentCode] [nchar](10) NULL,
	[Phone] [nvarchar](20) NULL,
	[Avatar] [nvarchar](max) NULL,
	[PasswordHash] [varbinary](256) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[AccountStatus] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[LastLogin] [datetime] NULL,
 CONSTRAINT [PK__Users__1788CCACB2D902CE] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTokens]    Script Date: 12/3/2025 11:30:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTokens](
	[TokenID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Token] [nvarchar](200) NOT NULL,
	[TokenType] [nvarchar](50) NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[IsUsed] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ClubMembers] ON 

INSERT [dbo].[ClubMembers] ([MemberID], [ClubID], [UserID], [JoinedDate], [Status]) VALUES (2, 1, 2, CAST(N'2024-03-01T00:00:00.000' AS DateTime), N'Approved')
INSERT [dbo].[ClubMembers] ([MemberID], [ClubID], [UserID], [JoinedDate], [Status]) VALUES (3, 1, 5, CAST(N'2024-09-10T00:00:00.000' AS DateTime), N'Approved')
INSERT [dbo].[ClubMembers] ([MemberID], [ClubID], [UserID], [JoinedDate], [Status]) VALUES (4, 1, 6, CAST(N'2024-09-11T00:00:00.000' AS DateTime), N'Approved')
SET IDENTITY_INSERT [dbo].[ClubMembers] OFF
GO
SET IDENTITY_INSERT [dbo].[Clubs] ON 

INSERT [dbo].[Clubs] ([ClubID], [ClubName], [Description], [PresidentID], [Status], [CreatedAt]) VALUES (1, N'FPTU Dance Club - FDC', N'CLB nhảy hiện đại, Kpop, Hiphop, Flashmob...', 2, N'Active', CAST(N'2024-03-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Clubs] ([ClubID], [ClubName], [Description], [PresidentID], [Status], [CreatedAt]) VALUES (2, N'FPTU English Club - FEC', N'CLB tiếng Anh - giao tiếp, thi IELTS, debate...', 3, N'Active', CAST(N'2024-02-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Clubs] ([ClubID], [ClubName], [Description], [PresidentID], [Status], [CreatedAt]) VALUES (3, N'FPTU IT Club - FIC', N'CLB Công nghệ thông tin - lập trình, AI, hackathon...', 4, N'Active', CAST(N'2024-04-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Clubs] OFF
GO
SET IDENTITY_INSERT [dbo].[Fees] ON 

INSERT [dbo].[Fees] ([FeeID], [FeeScheduleID], [ClubID], [UserID], [OrderCode], [Amount], [FeeType], [PaymentStatus], [CreatedAt], [PaidAt]) VALUES (2, 1, 1, 5, 1001, CAST(150000.00 AS Decimal(10, 2)), N'Membership', N'Paid', CAST(N'2025-08-10T00:00:00.000' AS DateTime), CAST(N'2025-08-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Fees] ([FeeID], [FeeScheduleID], [ClubID], [UserID], [OrderCode], [Amount], [FeeType], [PaymentStatus], [CreatedAt], [PaidAt]) VALUES (3, 1, 1, 6, 1002, CAST(150000.00 AS Decimal(10, 2)), N'Membership', N'Paid', CAST(N'2025-08-10T00:00:00.000' AS DateTime), CAST(N'2025-08-11T00:00:00.000' AS DateTime))
INSERT [dbo].[Fees] ([FeeID], [FeeScheduleID], [ClubID], [UserID], [OrderCode], [Amount], [FeeType], [PaymentStatus], [CreatedAt], [PaidAt]) VALUES (4, 1, 1, 8, 1003, CAST(150000.00 AS Decimal(10, 2)), N'Membership', N'Pending', CAST(N'2025-08-10T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Fees] OFF
GO
SET IDENTITY_INSERT [dbo].[FeeSchedule] ON 

INSERT [dbo].[FeeSchedule] ([FeeScheduleID], [ClubID], [FeeName], [Amount], [DueDate], [Frequency], [Status], [CreatedAt], [IsRequiredFee]) VALUES (1, 1, N'Phí thành viên FDC 2025', CAST(150000.00 AS Decimal(10, 2)), CAST(N'2025-09-15' AS Date), N'Yearly', N'Active', CAST(N'2025-08-01T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[FeeSchedule] ([FeeScheduleID], [ClubID], [FeeName], [Amount], [DueDate], [Frequency], [Status], [CreatedAt], [IsRequiredFee]) VALUES (2, 2, N'Phí tham gia FEC', CAST(100000.00 AS Decimal(10, 2)), CAST(N'2025-09-10' AS Date), N'OneTime', N'Active', CAST(N'2025-08-01T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[FeeSchedule] ([FeeScheduleID], [ClubID], [FeeName], [Amount], [DueDate], [Frequency], [Status], [CreatedAt], [IsRequiredFee]) VALUES (3, 3, N'Phí hội viên FIC', CAST(2000.00 AS Decimal(10, 2)), CAST(N'2025-09-20' AS Date), N'Yearly', N'Active', CAST(N'2025-08-01T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[FeeSchedule] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Title], [Message], [IsRead], [CreatedAt]) VALUES (1, 5, N'Chào mừng đến FDC!', N'Bạn đã gia nhập FPTU Dance Club thành công!', 1, CAST(N'2025-08-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Title], [Message], [IsRead], [CreatedAt]) VALUES (2, 5, N'Phí thành viên FDC 2025', N'Bạn cần đóng 150.000đ trước ngày 15/09/2025', 1, CAST(N'2025-08-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Title], [Message], [IsRead], [CreatedAt]) VALUES (3, 8, N'Phí thành viên FDC 2025', N'Bạn cần đóng 150.000đ trước ngày 15/09/2025', 0, CAST(N'2025-08-10T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [StudentCode], [Phone], [Avatar], [PasswordHash], [Role], [AccountStatus], [CreatedAt], [LastLogin]) VALUES (1, N'Lê Tấn kim', N'letankim2003@gmail.com', NULL, N'0865341745', NULL, 0x243261243131246D654F4E2E315971664C4B6A364F7443624B4153542E6D70326F58643946414A796755736A50537A76595A4C66346D46544539322E, N'Admin', N'Active', CAST(N'2025-12-02T02:30:14.537' AS DateTime), CAST(N'2025-12-03T23:12:19.553' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [StudentCode], [Phone], [Avatar], [PasswordHash], [Role], [AccountStatus], [CreatedAt], [LastLogin]) VALUES (2, N'Trần Thị Minh Thư', N'thu.ttm@fpt.edu.vn', NULL, N'0987654321', NULL, 0x24326224313224316E6A724B6A724C654C6A724C654C6A724C654C6A724C654C6A724C654C6A724C654C6A724C65, N'ClubLeader', N'Active', CAST(N'2024-02-15T00:00:00.000' AS DateTime), CAST(N'2025-08-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [StudentCode], [Phone], [Avatar], [PasswordHash], [Role], [AccountStatus], [CreatedAt], [LastLogin]) VALUES (3, N'Lê Hoàng Nam', N'nam.lh@fpt.edu.vn', NULL, N'0912345678', NULL, 0x24326224313224316E6A724B6A724C654C6A724C654C6A724C654C6A724C654C6A724C654C6A724C654C6A724C65, N'ClubLeader', N'Active', CAST(N'2024-03-01T00:00:00.000' AS DateTime), CAST(N'2025-08-08T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserTokens] ON 

INSERT [dbo].[UserTokens] ([TokenID], [UserID], [Token], [TokenType], [ExpiryDate], [IsUsed], [CreatedAt]) VALUES (8, 1, N'mwJ9xt34XYHphAeEMRHwGm8mbpnJscCzAtPw7TLYIEQ0Vwblv5', N'Activation', CAST(N'2025-12-01T20:03:59.820' AS DateTime), 1, CAST(N'2025-12-02T02:48:59.820' AS DateTime))
INSERT [dbo].[UserTokens] ([TokenID], [UserID], [Token], [TokenType], [ExpiryDate], [IsUsed], [CreatedAt]) VALUES (10, 1, N'349380', N'ResetPassword', CAST(N'2025-12-01T20:04:33.213' AS DateTime), 0, CAST(N'2025-12-02T02:54:33.213' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserTokens] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534246D279E]    Script Date: 12/3/2025 11:30:42 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__A9D10534246D279E] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserToke__1EB4F817B4E3CB5F]    Script Date: 12/3/2025 11:30:42 PM ******/
ALTER TABLE [dbo].[UserTokens] ADD UNIQUE NONCLUSTERED 
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApprovalRequests] ADD  CONSTRAINT [DF__ApprovalR__Statu__6754599E]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ApprovalRequests] ADD  CONSTRAINT [DF__ApprovalR__Creat__68487DD7]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ClubJoinRequests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ClubJoinRequests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ClubMembers] ADD  DEFAULT (getdate()) FOR [JoinedDate]
GO
ALTER TABLE [dbo].[ClubMembers] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Clubs] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Clubs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Fees] ADD  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Fees] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[FeeSchedule] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[FeeSchedule] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[FeeSchedule] ADD  DEFAULT ((0)) FOR [IsRequiredFee]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PostImages] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT ('Public') FOR [Visibility]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__AccountSt__3A81B327]  DEFAULT ('PendingVerification') FOR [AccountStatus]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__CreatedAt__3B75D760]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserTokens] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[UserTokens] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ApprovalRequests]  WITH CHECK ADD  CONSTRAINT [FK__ApprovalR__ClubI__6A30C649] FOREIGN KEY([ClubID])
REFERENCES [dbo].[Clubs] ([ClubID])
GO
ALTER TABLE [dbo].[ApprovalRequests] CHECK CONSTRAINT [FK__ApprovalR__ClubI__6A30C649]
GO
ALTER TABLE [dbo].[ApprovalRequests]  WITH CHECK ADD  CONSTRAINT [FK__ApprovalR__UserI__693CA210] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ApprovalRequests] CHECK CONSTRAINT [FK__ApprovalR__UserI__693CA210]
GO
ALTER TABLE [dbo].[ClubJoinRequests]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[Clubs] ([ClubID])
GO
ALTER TABLE [dbo].[ClubJoinRequests]  WITH CHECK ADD  CONSTRAINT [FK__ClubJoinR__UserI__114A936A] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ClubJoinRequests] CHECK CONSTRAINT [FK__ClubJoinR__UserI__114A936A]
GO
ALTER TABLE [dbo].[ClubMembers]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[Clubs] ([ClubID])
GO
ALTER TABLE [dbo].[ClubMembers]  WITH CHECK ADD  CONSTRAINT [FK__ClubMembe__UserI__4E88ABD4] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ClubMembers] CHECK CONSTRAINT [FK__ClubMembe__UserI__4E88ABD4]
GO
ALTER TABLE [dbo].[Clubs]  WITH CHECK ADD  CONSTRAINT [FK__Clubs__President__47DBAE45] FOREIGN KEY([PresidentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Clubs] CHECK CONSTRAINT [FK__Clubs__President__47DBAE45]
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[Clubs] ([ClubID])
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD FOREIGN KEY([FeeScheduleID])
REFERENCES [dbo].[FeeSchedule] ([FeeScheduleID])
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD  CONSTRAINT [FK__Fees__UserID__628FA481] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Fees] CHECK CONSTRAINT [FK__Fees__UserID__628FA481]
GO
ALTER TABLE [dbo].[FeeSchedule]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[Clubs] ([ClubID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK__Notificat__UserI__6EF57B66] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK__Notificat__UserI__6EF57B66]
GO
ALTER TABLE [dbo].[PostImages]  WITH CHECK ADD FOREIGN KEY([PostID])
REFERENCES [dbo].[Posts] ([PostID])
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD FOREIGN KEY([ClubID])
REFERENCES [dbo].[Clubs] ([ClubID])
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK__Posts__UserID__05D8E0BE] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK__Posts__UserID__05D8E0BE]
GO
ALTER TABLE [dbo].[UserTokens]  WITH CHECK ADD  CONSTRAINT [FK__UserToken__UserI__4222D4EF] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserTokens] CHECK CONSTRAINT [FK__UserToken__UserI__4222D4EF]
GO
ALTER TABLE [dbo].[ApprovalRequests]  WITH CHECK ADD  CONSTRAINT [CK__ApprovalR__Reque__656C112C] CHECK  (([RequestType]='LeaveClub' OR [RequestType]='JoinClub'))
GO
ALTER TABLE [dbo].[ApprovalRequests] CHECK CONSTRAINT [CK__ApprovalR__Reque__656C112C]
GO
ALTER TABLE [dbo].[ApprovalRequests]  WITH CHECK ADD  CONSTRAINT [CK__ApprovalR__Statu__66603565] CHECK  (([Status]='Rejected' OR [Status]='Approved' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[ApprovalRequests] CHECK CONSTRAINT [CK__ApprovalR__Statu__66603565]
GO
ALTER TABLE [dbo].[ClubJoinRequests]  WITH CHECK ADD CHECK  (([Status]='Rejected' OR [Status]='Approved' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[ClubMembers]  WITH CHECK ADD CHECK  (([Status]='Removed' OR [Status]='Rejected' OR [Status]='Approved' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Clubs]  WITH CHECK ADD CHECK  (([Status]='Suspended' OR [Status]='Pending' OR [Status]='Inactive' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD CHECK  (([FeeType]='Other' OR [FeeType]='Activity' OR [FeeType]='Membership'))
GO
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD CHECK  (([PaymentStatus]='Cancelled' OR [PaymentStatus]='Overdue' OR [PaymentStatus]='Paid' OR [PaymentStatus]='Pending'))
GO
ALTER TABLE [dbo].[FeeSchedule]  WITH CHECK ADD CHECK  (([Frequency]='Yearly' OR [Frequency]='Monthly' OR [Frequency]='OneTime'))
GO
ALTER TABLE [dbo].[FeeSchedule]  WITH CHECK ADD CHECK  (([Status]='Inactive' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD CHECK  (([Visibility]='Private' OR [Visibility]='Members' OR [Visibility]='Public'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK__Users__AccountSt__398D8EEE] CHECK  (([AccountStatus]='Disabled' OR [AccountStatus]='Locked' OR [AccountStatus]='Active' OR [AccountStatus]='PendingVerification'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK__Users__AccountSt__398D8EEE]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK__Users__Role__38996AB5] CHECK  (([Role]='Admin' OR [Role]='ClubLeader' OR [Role]='Student'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK__Users__Role__38996AB5]
GO
ALTER TABLE [dbo].[UserTokens]  WITH CHECK ADD CHECK  (([TokenType]='Refresh' OR [TokenType]='ResetPassword' OR [TokenType]='Activation'))
GO
